@import url('https://fonts.cdnfonts.com/css/f-funny-cat');

*{
  margin: 0;
  padding: 0;
  font-family: 'f Funny Cat', sans-serif;
  background-color: #C8EFF4;
}

.App {
  text-align: center;
}

.fact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fact-text{
  max-width: 75%;
  font-size: 30px;
  margin-top: 150px;
  color: #022999;
}

.fact-btn{
  display: block;
  width: 250px;
  margin: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  height: 50px;
  box-shadow: 6px 6px #F27D42;
}

.fact-btn:active{
  transform: translate(3px, 3px);
  box-shadow: 3px 3px #F27D42;
}

.cat1, .cat2, .cat3{
  position: absolute;
}

.cat1{
  width: 250px;
  right: 0;
  bottom: 0;
}
.cat2{
  width: 400px;
  left: 0;
  bottom: 0;
}
.cat3{
  width: 150px;
  transform: rotate(180deg);
}